<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LYTransitionDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ACB3B8591C28E0CF00CC44BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACB3B8721C28E0CF00CC44BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACB3B87D1C28E0CF00CC44BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
